<div class="widget-ilove">
<a href="http://taskarmy.com" 
    alt="TaskArmy.com" 
    title="Awesome freelance marketplace :)">
  <div class="line1">I <span class="heart">&hearts;</span></div>
  <div class="line2">TaskArmy</div>
</a>
</div>
